* {
  font-family: verdana, sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  box-sizing: border-box;
}

:root {
  /* These are absolutely random colors, apart from */
  /* black and white. Those are meant to be easier  */
  /* on the eyes than full-on black and white */
  --color__base: #cf8f72;
  --color__highlight: #0bb64e;
  --color__black: #070707;
  --color__white: #f7f7f7;
}

body {
  margin-top: 3.5rem;
}

/* *Page Header* */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  padding: 0 10%;
  background-color: var(--color__base);
}

#nav-img {
  height: 100%;
}

/* *Page Header on Desktop* */
@media only screen and (min-width: 480px) {
  #navbar {
    padding: 0 20%;
  }
}

/* *Search Form* */
.form {
  height: 150px;
  width: 85%;
  background-color: var(--color__white);
  padding: 1.5em;
}

.form__label + .form__input {
  margin-top: 1em;
}

.form__input {
  width: 70%;
  border: none;
  padding: 0.5em;
  box-shadow: 0 0 15px var(--color__highlight);
}

.form__button {
  height: 3em;
  width: 45%;
  padding: 0.5em;
  background-color: var(--color__base);
  font-weight: bold;
}

/* *Search Form on Desktop* */
@media only screen and (min-width: 480px) {
  .form {
    width: 50%;
  }

  .form__button {
    width: 30%;
  }
}

/* *Canvas and Classes within it* */
.canvas {
  overflow: auto;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  width: 90%;
}

.canvas__logo-box {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color__base);
}

.canvas__logo {
  height: 100%;
  object-fit: cover;
}

.canvas__result-box {
  height: 5em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  margin-top: 1.5rem;
  background-color: var(--color__base);
  border-radius: 20px;
  position: relative;
  box-shadow: 5px 5px 15px var(--color__highlight);
}

.canvas__result-text {
  margin-top: 0.5em;
  max-width: 25ch;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.canvas__result-button {
  height: 1.5em;
  border: none;
  border-radius: 20px;
  background-color: var(--color__highlight);
  color: var(--color__black);
  font-weight: bold;
  float: right;
  text-align: center;
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}

.canvas__score-card {
  display: grid;
  margin-left:auto;
  margin-right:auto;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.city__entry {
  grid-column: 1;
  height:1em;
}

.city__value {
  grid-column: 2;
  text-align:left;
  height:1em;
}

/* *Canvas on Desktop* */
@media screen and (min-width: 480px) {
  .canvas__result-box {
    width: 70%;
  }

  .canvas__paragraph {
    margin-top: 0.5em;
    max-width: 55ch;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
